<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a new post</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>Title</p>
        <input type="text" name="title" id="">
        <p>Content</p>
        <input type="text" name="content">
        <p>Author</p>
        <select name="author" required id="id_author">
            <option value="" selected>---------</option>
         
            <option value="1">prosper</option>
         
          </select>
        </p>
        <input type="submit" value="submit">
    </form>
</body>
</html>